*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*

.libs
.deps

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libbonoboui-zip
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
